*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar {
  width: 100%;
  border: solid 1px rgba(97, 76, 76, 0.288);
}

.navbar-brand {
  font-weight: bold !important;
  color: rgb(155, 9, 29);
}

.navbar-toggler {
  border-color: rgb(155, 9, 29) !important;
  outline-color: rgb(155, 9, 29) !important;
}

.searchResult {
  width: 100%;
  /* max-height: 70vh; */
  position: relative;
  padding: 15px;
  padding-top: 5px;
  display: none;
}

.searchResult .searchResultContainer {
  width: 100%;
  height: 50vh;
  position: relative;
  background-color: rgb(240, 237, 237);
  border: 1px solid rgba(97, 76, 76, 0.288);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.searchResultContainer span {
  float: right;
  margin-bottom: 5px;
  color: rgb(155, 9, 29);
  position: absolute;
  right: 5px;
}

.searchResultContainer span:hover {
  cursor: pointer;
}

.searchResultContainer ul {
  width: 100%;
  /* max-height: 80vh; */
  border: 1px solid rgba(97, 76, 76, 0.288);
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
}

.searchResult ul:first-of-type {
  margin-top: 30px;
}

.searchResult ul li {
  width: 100%;
  padding: 10px;
  /* border-bottom: 1px solid rgba(146, 141, 141, 0.3); */
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 5px; */
  color: rgba(0, 0, 0, 0.8);
}

.searchResult ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
}

.courseDetails .description {
  color: rgba(100, 96, 96, 0.7);
  margin-bottom: 5px;
}

.courseDetails .tag {
    max-width: 100px;
  padding: 5px 10px;
  border: 1px solid rgba(158, 154, 154, 0.7);
  color: rgba(158, 154, 154, 0.7);
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}

.authorDetails {
  display: flex;
  justify-content: right;
  gap: 7px;
}

.authorDetails p {
  margin-top: auto;
  margin-bottom: auto;
}

.authorDetails img {
  width: 40px;
  border-radius: 50px;
  align-items: center;
}
