*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerContainer {
    background-color: rgba(39, 36, 36, 0.7);
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 720px) {
    .footerContainer {
        padding: 40px;
    }
}

@media (min-width: 1024px) {
    .footerContainer {
        padding: 2vw;
    }
}